{% extends "layouts/default_dashboard.html" %}
{% load static %}

{% block 'head' %}
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css">
{% endblock %}

{% block title %}Soft UI Dashboard by Creative Tim{% endblock %}

{% block body %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">Today's Money</p>
                  <h5 class="font-weight-bolder mb-0">
                    $53,000
                    <span class="text-success text-sm font-weight-bolder">+55%</span>
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                  <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">Today's Users</p>
                  <h5 class="font-weight-bolder mb-0">
                    2,300
                    <span class="text-success text-sm font-weight-bolder">+3%</span>
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                  <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">New Clients</p>
                  <h5 class="font-weight-bolder mb-0">
                    +3,462
                    <span class="text-danger text-sm font-weight-bolder">-2%</span>
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                  <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">Sales</p>
                  <h5 class="font-weight-bolder mb-0">
                    $103,430
                    <span class="text-success text-sm font-weight-bolder">+5%</span>
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                  <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-12">
        <div class="card z-index-2">
          <div class="card-header pb-0">
            <h6>Visão geral de vendas por produto</h6>
            <p class="text-sm">
              <i class="fa fa-arrow-up text-success"></i>
              <span class="font-weight-bold">4% more</span> in 2021
            </p>
          </div>
          <div class="card-body p-3">
            <div class="chart">
              <canvas id="chart-line" class="chart-canvas" height="300"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-12">
        <div class="card z-index-2">
          <div class="card-body p-3">
            <table id="datatable-basic" class="table table-flush dataTable-table" style="width:100%">
              <thead class="thead-light">
                  <tr>
                    <th class="px-2">Name</th>
                    <th class="px-2">Position</th>
                    <th class="px-2">Office</th>
                    <th class="px-2">Age</th>
                    <th class="px-2">Start date</th>
                    <th class="px-2">Salary</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="text-sm font-weight-normal">Tiger
                          Nixon</td>
                      <td class="text-sm font-weight-normal">System
                          Architect</td>
                      <td class="text-sm font-weight-normal">Edinburgh</td>
                      <td class="text-sm font-weight-normal">61</td>
                      <td class="text-sm font-weight-normal">2011/04/25</td>
                      <td class="text-sm font-weight-normal">$320,800</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Garrett
                          Winters</td>
                      <td class="text-sm font-weight-normal">Accountant</td>
                      <td class="text-sm font-weight-normal">Tokyo</td>
                      <td class="text-sm font-weight-normal">63</td>
                      <td class="text-sm font-weight-normal">2011/07/25</td>
                      <td class="text-sm font-weight-normal">$170,750</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Ashton
                          Cox</td>
                      <td class="text-sm font-weight-normal">Junior Technical
                          Author</td>
                      <td class="text-sm font-weight-normal">San
                          Francisco</td>
                      <td class="text-sm font-weight-normal">66</td>
                      <td class="text-sm font-weight-normal">2009/01/12</td>
                      <td class="text-sm font-weight-normal">$86,000</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Cedric
                          Kelly</td>
                      <td class="text-sm font-weight-normal">Senior Javascript
                          Developer</td>
                      <td class="text-sm font-weight-normal">Edinburgh</td>
                      <td class="text-sm font-weight-normal">22</td>
                      <td class="text-sm font-weight-normal">2012/03/29</td>
                      <td class="text-sm font-weight-normal">$433,060</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Airi
                          Satou</td>
                      <td class="text-sm font-weight-normal">Accountant</td>
                      <td class="text-sm font-weight-normal">Tokyo</td>
                      <td class="text-sm font-weight-normal">33</td>
                      <td class="text-sm font-weight-normal">2008/11/28</td>
                      <td class="text-sm font-weight-normal">$162,700</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Brielle
                          Williamson</td>
                      <td class="text-sm font-weight-normal">Integration
                          Specialist</td>
                      <td class="text-sm font-weight-normal">New York</td>
                      <td class="text-sm font-weight-normal">61</td>
                      <td class="text-sm font-weight-normal">2012/12/02</td>
                      <td class="text-sm font-weight-normal">$372,000</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Herrod
                          Chandler</td>
                      <td class="text-sm font-weight-normal">Sales
                          Assistant</td>
                      <td class="text-sm font-weight-normal">San
                          Francisco</td>
                      <td class="text-sm font-weight-normal">59</td>
                      <td class="text-sm font-weight-normal">2012/08/06</td>
                      <td class="text-sm font-weight-normal">$137,500</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Rhona
                          Davidson</td>
                      <td class="text-sm font-weight-normal">Integration
                          Specialist</td>
                      <td class="text-sm font-weight-normal">Tokyo</td>
                      <td class="text-sm font-weight-normal">55</td>
                      <td class="text-sm font-weight-normal">2010/10/14</td>
                      <td class="text-sm font-weight-normal">$327,900</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Colleen
                          Hurst</td>
                      <td class="text-sm font-weight-normal">Javascript
                          Developer</td>
                      <td class="text-sm font-weight-normal">San
                          Francisco</td>
                      <td class="text-sm font-weight-normal">39</td>
                      <td class="text-sm font-weight-normal">2009/09/15</td>
                      <td class="text-sm font-weight-normal">$205,500</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Sonya
                          Frost</td>
                      <td class="text-sm font-weight-normal">Software
                          Engineer</td>
                      <td class="text-sm font-weight-normal">Edinburgh</td>
                      <td class="text-sm font-weight-normal">23</td>
                      <td class="text-sm font-weight-normal">2008/12/13</td>
                      <td class="text-sm font-weight-normal">$103,600</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Sonya
                          Frost</td>
                      <td class="text-sm font-weight-normal">Software
                          Engineer</td>
                      <td class="text-sm font-weight-normal">Edinburgh</td>
                      <td class="text-sm font-weight-normal">23</td>
                      <td class="text-sm font-weight-normal">2008/12/13</td>
                      <td class="text-sm font-weight-normal">$103,600</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Sonya
                          Frost</td>
                      <td class="text-sm font-weight-normal">Software
                          Engineer</td>
                      <td class="text-sm font-weight-normal">Edinburgh</td>
                      <td class="text-sm font-weight-normal">23</td>
                      <td class="text-sm font-weight-normal">2008/12/13</td>
                      <td class="text-sm font-weight-normal">$103,600</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Sonya
                          Frost</td>
                      <td class="text-sm font-weight-normal">Software
                          Engineer</td>
                      <td class="text-sm font-weight-normal">Edinburgh</td>
                      <td class="text-sm font-weight-normal">23</td>
                      <td class="text-sm font-weight-normal">2008/12/13</td>
                      <td class="text-sm font-weight-normal">$103,600</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Sonya
                          Frost</td>
                      <td class="text-sm font-weight-normal">Software
                          Engineer</td>
                      <td class="text-sm font-weight-normal">Edinburgh</td>
                      <td class="text-sm font-weight-normal">23</td>
                      <td class="text-sm font-weight-normal">2008/12/13</td>
                      <td class="text-sm font-weight-normal">$103,600</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Sonya
                          Frost</td>
                      <td class="text-sm font-weight-normal">Software
                          Engineer</td>
                      <td class="text-sm font-weight-normal">Edinburgh</td>
                      <td class="text-sm font-weight-normal">23</td>
                      <td class="text-sm font-weight-normal">2008/12/13</td>
                      <td class="text-sm font-weight-normal">$103,600</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Sonya
                          Frost</td>
                      <td class="text-sm font-weight-normal">Software
                          Engineer</td>
                      <td class="text-sm font-weight-normal">Edinburgh</td>
                      <td class="text-sm font-weight-normal">23</td>
                      <td class="text-sm font-weight-normal">2008/12/13</td>
                      <td class="text-sm font-weight-normal">$103,600</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Sonya
                          Frost</td>
                      <td class="text-sm font-weight-normal">Software
                          Engineer</td>
                      <td class="text-sm font-weight-normal">Edinburgh</td>
                      <td class="text-sm font-weight-normal">23</td>
                      <td class="text-sm font-weight-normal">2008/12/13</td>
                      <td class="text-sm font-weight-normal">$103,600</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Sonya
                          Frost</td>
                      <td class="text-sm font-weight-normal">Software
                          Engineer</td>
                      <td class="text-sm font-weight-normal">Edinburgh</td>
                      <td class="text-sm font-weight-normal">23</td>
                      <td class="text-sm font-weight-normal">2008/12/13</td>
                      <td class="text-sm font-weight-normal">$103,600</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Sonya
                          Frost</td>
                      <td class="text-sm font-weight-normal">Software
                          Engineer</td>
                      <td class="text-sm font-weight-normal">Edinburgh</td>
                      <td class="text-sm font-weight-normal">23</td>
                      <td class="text-sm font-weight-normal">2008/12/13</td>
                      <td class="text-sm font-weight-normal">$103,600</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Sonya
                          Frost</td>
                      <td class="text-sm font-weight-normal">Software
                          Engineer</td>
                      <td class="text-sm font-weight-normal">Edinburgh</td>
                      <td class="text-sm font-weight-normal">23</td>
                      <td class="text-sm font-weight-normal">2008/12/13</td>
                      <td class="text-sm font-weight-normal">$103,600</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Sonya
                          Frost</td>
                      <td class="text-sm font-weight-normal">Software
                          Engineer</td>
                      <td class="text-sm font-weight-normal">Edinburgh</td>
                      <td class="text-sm font-weight-normal">23</td>
                      <td class="text-sm font-weight-normal">2008/12/13</td>
                      <td class="text-sm font-weight-normal">$103,600</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Sonya
                          Frost</td>
                      <td class="text-sm font-weight-normal">Software
                          Engineer</td>
                      <td class="text-sm font-weight-normal">Edinburgh</td>
                      <td class="text-sm font-weight-normal">23</td>
                      <td class="text-sm font-weight-normal">2008/12/13</td>
                      <td class="text-sm font-weight-normal">$103,600</td>
                  </tr>
                  <tr>
                      <td class="text-sm font-weight-normal">Sonya
                          Frost</td>
                      <td class="text-sm font-weight-normal">Software
                          Engineer</td>
                      <td class="text-sm font-weight-normal">Edinburgh</td>
                      <td class="text-sm font-weight-normal">23</td>
                      <td class="text-sm font-weight-normal">2008/12/13</td>
                      <td class="text-sm font-weight-normal">$103,600</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'usuarios/js/plugins/chartjs.min.js' %}"></script>
  <script src="{% static 'usuarios/js/chart_data.js' %}"></script>
  <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>
  <script>
    Object.assign(DataTable.defaults, {
      searching: false,
      ordering: true,
    });
    
    new DataTable('#datatable-basic', {
        language: {
            info: 'Total de _MAX_ vendas registradas.',
            lengthMenu: '<div class="card-header p-0"><h6>Relatório de vendas</h6></div>',
        }
  });
  </script>
{% endblock %}