{% extends "account/base_entrance.html" %}
{% load static %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Redefinir Senha" %}
{% endblock head_title %}
{% block content %}
    <section class="bg-light d-flex justify-content-center align-items-center vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xxl-11" style="width: 600px;">
                    <div class="card border-light-subtle shadow-sm">
                        <div class="card-body p-3 p-md-4 p-xl-5">
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-5">
                                        <div class="text-center mb-4">
                                            <a href="{% url 'index' %}">
                                                <img src="{% static 'imgs/logo_horizontal.png' %}" alt="Bem Do Campo" width="175">
                                            </a>
                                        </div>
                                        <h4 class="text-center">Redefinir sua senha</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <!-- Verificação de autenticação -->
                                    {% if user.is_authenticated %}
                                        <div class="alert alert-info text-center">
                                            Você já está logado.
                                        </div>
                                    {% else %}
                                        <p class="text-center">Esqueceu sua senha? Insira seu email abaixo e enviaremos um link para redefini-la.</p>
                                        <form method="post" action="{% url 'account_reset_password' %}">
                                            {% csrf_token %}
                                            <div class="row gy-3 overflow-hidden">
                                                <!-- Campo de Email -->
                                                <div class="col-12">
                                                    <div class="form-floating mb-3">
                                                        <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" value="{{ form.email.value|default_if_none:'' }}" required>
                                                        <label for="email" class="form-label">Email</label>
                                                        <!-- Exibir erro de validação do campo email -->
                                                        {% if form.email.errors %}
                                                            <div class="text-danger">
                                                                {{ form.email.errors }}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                                <!-- Botão de Submissão -->
                                                <div class="col-12">
                                                    <div class="d-grid">
                                                        <button class="btn btn-dark btn-lg" type="submit">{% trans "Redefinir Senha" %}</button>
                                                    </div>
                                                </div>

                                                <!-- Campo de redirecionamento -->
                                                {{ redirect_field }}
                                            </div>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex gap-2 flex-column justify-content-md-center mt-5">
                                        <p class="text-center">Entre em contato conosco se tiver problemas ao redefinir sua senha.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
