{% extends "layouts/default_dashboard.html" %}
{% load static %}

{% block title %}Soft UI Dashboard by Creative Tim{% endblock %}

{% block body %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-xl-6" style="width: 300px">
            <div class="card">
              <div class="card-header mx-4 p-3 text-center">
                <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                  <i class="fas fa-landmark opacity-10"></i>
                </div>
              </div>
              <div class="card-body pt-0 p-3 text-center">
                <h6 class="text-center mb-0">Saldo</h6>
                <span class="text-xs">Belong Interactive</span>
                <hr class="horizontal dark my-3">
                <h5 class="mb-0">+$2000</h5>
              </div>
            </div>
          </div>
          <div class="col-xl-6 mb-xl-0 mb-4">
            <div class="card bg-transparent shadow-xl">
              <div class="overflow-hidden position-relative border-radius-xl" style="background-image: url('../assets/img/curved-images/curved14.jpg');">
                <span class="mask bg-gradient-dark"></span>
                <div class="card-body position-relative z-index-1 p-3">
                  <i class="fas fa-wifi text-white p-2"></i>
                  {% if payments %}
                  <h5 class="text-white mt-4 mb-5 pb-2">{{ payments.0.numero_cartao }}</h5>
                    <div class="d-flex">
                      <div class="d-flex">
                        <div class="me-4">
                          <p class="text-white text-sm opacity-8 mb-0">Card Holder</p>
                          <h6 class="text-white mb-0">{{ payments.0.nome_titular }}</h6>
                        </div>
                        <div>
                          <p class="text-white text-sm opacity-8 mb-0">Expires</p>
                          <h6 class="text-white mb-0">{{ payments.0.validade }}</h6>
                        </div>
                      </div>
                      <div class="ms-auto w-20 d-flex align-items-end justify-content-end">
                        <img class="w-60 mt-2" src="../assets/img/logos/mastercard.png" alt="logo">
                      </div>
                    </div>
                  {% else %}
                    <h5 class="text-white mt-4 mb-5 pb-2">Nenhum cartão disponível</h5>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} os cartoes {% endcomment %}
    <div class="row">
      <div class="col-md-7 mt-4">
        <div class="card">
          <div class="card-header pb-0 px-3">
            <div class="row px-5">
              <div class="col-md-6 p-0">
                <h2 class="mb-0">Cartões</h2>
              </div>
              <div class="col-md-6 text-end p-0">
                <button type="button" id="register_card" class="btn bg-gradient-warning m-0" data-bs-toggle="modal" data-bs-target="#modal-form">Adicionar cartão</button>
                <!-- Modal -->
                <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                    <div class="modal-content">
                      <div class="modal-body p-0">
                        <div class="card card-plain">
                          <div class="card-header pb-0 text-start">
                            <h3 class="font-weight-bolder bg-gradient-warning text-gradient">Cadastrar Cartão</h3>
                          </div>
                          <div class="card-body">
                            <form class="text-start" method="POST" action="{% url 'payment' %}" enctype="multipart/form-data">
                              {% csrf_token %}
                              {{ form.cartao_id }}
                              {{ form.nome_titular.label_tag }}
                              <div class="input-group mb-3">
                                {{ form.nome_titular }}
                              </div>
                              {{ form.numero_cartao.label_tag }}
                              <div class="input-group mb-3">
                                {{ form.numero_cartao }}
                              </div>
                              {{ form.validade.label_tag }}
                              <div class="input-group mb-3">
                                {{ form.validade }}
                              </div>
                              {{ form.documento.label_tag }}
                              <div class="input-group mb-3">
                                {{ form.documento }}
                              </div>
                              {{ form.cvc.label_tag }}
                              <div class="input-group mb-3">
                                {{ form.cvc }}
                              </div>
                              
                              <div class="text-center">
                                <button type="submit" id="submitButton" class="btn btn-round bg-gradient-info btn-lg w-100 mt-4 mb-0">Registrar</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body pt-4 p-3">
                <ul class="list-group">
                    {% for payment in payments %}
                    <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                        <div class="d-flex flex-column">
                            <h6 class="mb-3 text-sm">Nome no cartão: {{ payment.nome_titular }}</h6>
                            <span class="mb-2 text-xs">Número do cartão: <span class="text-dark font-weight-bold ms-sm-2">{{ payment.numero_cartao }}</span></span>
                            <span class="mb-2 text-xs">Data Vencimento: <span class="text-dark ms-sm-2 font-weight-bold">{{ payment.validade }}</span></span>
                            <span class="text-xs">CVC: <span class="text-dark ms-sm-2 font-weight-bold">{{ payment.cvc }}</span></span>
                        </div>
                        <div class="ms-auto text-end">
                          <a class="btn btn-info" 
                            id="edit_card" 
                            data-id="{{ payment.id_cartao }}" 
                            data-number="{{ payment.numero_cartao }}" 
                            data-nome="{{ payment.nome_titular }}" 
                            data-expiration="{{ payment.validade }}"
                            data-cvc="{{ payment.cvc }}"
                            data-document="{{ payment.documento }}"
                            data-bs-toggle="modal" 
                            data-bs-target="#modal-form">
                            Editar
                          </a>
                          <form action="{% url 'payment_delete' payment.id_cartao %}" method="post" style="display:inline;">
                              {% csrf_token %}
                              <button type="submit"class="btn btn-danger">Deletar</button>
                          </form>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 mt-4">
        <div class="card h-100 mb-4">
          <div class="card-header pb-0 px-3">
            <div class="row">
              <div class="col-md-6">
                <h6 class="mb-0">Suas Transações</h6>
              </div>
              <div class="col-md-6 d-flex justify-content-end align-items-center">
                <i class="far fa-calendar-alt me-2"></i>
                <small>23 - 30 March 2020</small>
              </div>
            </div>
          </div>
          <div class="card-body pt-4 p-3">
            <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">Newest</h6>
            <ul class="list-group">
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <button class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-down"></i></button>
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">Banana</h6>
                    <span class="text-xs">27 March 2020, at 12:30 PM</span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold">
                  - $ 2,500
                </div>
              </li>
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">Maçã</h6>
                    <span class="text-xs">27 March 2020, at 04:30 AM</span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                  + $ 2,000
                </div>
              </li>
            </ul>
            <h6 class="text-uppercase text-body text-xs font-weight-bolder my-3">Yesterday</h6>
            <ul class="list-group">
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">Soja</h6>
                    <span class="text-xs">26 March 2020, at 13:45 PM</span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                  + $ 750
                </div>
              </li>
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">Milho</h6>
                    <span class="text-xs">26 March 2020, at 12:30 PM</span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                  + $ 1,000
                </div>
              </li>
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">Café</h6>
                    <span class="text-xs">26 March 2020, at 08:30 AM</span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                  + $ 2,500
                </div>
              </li>
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <button class="btn btn-icon-only btn-rounded btn-outline-dark mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-exclamation"></i></button>
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">Melão</h6>
                    <span class="text-xs">26 March 2020, at 05:00 AM</span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-dark text-sm font-weight-bold">
                  Pending
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/mask_bemdocampo.js' %}"></script>
  <script>
    $(document).ready(function() {
      mask_numberCard('#number-input');
      mask_validity('#validity-input');
      mask_document('#document-input');
    });

    document.getElementById("register_card").addEventListener("click", function() {
        document.getElementById("id_cartao").value = "";
        document.getElementById("number-input").value = "";
        document.getElementById("name-input").value = "";
        document.getElementById("validity-input").value = "";
        document.getElementById("cvc-input").value = "";
        document.getElementById("document-input").value = "";
        document.getElementById("submitButton").textContent = "Registrar";
    });

    document.querySelectorAll('#edit_card').forEach(button => {
      button.addEventListener('click', function() {
          const cardId = this.getAttribute('data-id');
          const cardNumber = this.getAttribute('data-number');
          const cardHolder = this.getAttribute('data-nome');
          const expirationDate = this.getAttribute('data-expiration');
          const cvc = this.getAttribute('data-cvc');
          const documentId = this.getAttribute('data-document');

          document.querySelector('#id_cartao').value = cardId;
          document.querySelector('#number-input').value = cardNumber;
          document.querySelector('#name-input').value = cardHolder;
          document.querySelector('#validity-input').value = expirationDate;
          document.querySelector('#cvc-input').value = cvc;
          document.querySelector('#document-input').value = documentId;
          document.querySelector('#submitButton').textContent = "Editar";
      });
    });
  </script>
{% endblock %}