{% extends "layouts/default_dashboard.html" %}
{% load static %}

{% block title %}Informações Pessoais{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="page-header min-height-100 border-radius-xl mt-4">
      <span class="mask bg-gradient-primary opacity-6"></span>
    </div>
    <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
      <div class="row gx-4">
        <div class="col-auto">
          <div class="avatar avatar-xl position-relative">
            {% if user_data.imagem_perfil %}
              <img src="/media/{{ user_data.imagem_perfil }}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            {% else %}
              <img src="/media/NoPhotoUser.png" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            {% endif %}
          </div>
        </div>
        <div class="col-auto my-auto">
          <div class="h-100">
            <h5 class="mb-1">
              {{ user_data.nome }} {{ user_data.sobrenome }}
            </h5>
            <p class="mb-0 font-weight-bold text-sm">
              {% if user_data.tipo_usuario %}
                {{ user_data.tipo_usuario|capfirst }}
              {% else %}
                Consumidor
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12 col-xl-12">
        <div class="card h-100">
          <div class="card-header pb-0 p-3">
            <h6 class="mb-0">Informações Pessoais</h6>
          </div>
          <div class="card-body p-3">
            <form method="POST" action="{% url 'profile' %}" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                {{ form.user_id }}
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.nome.label_tag }}
                        {{ form.nome }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.sobrenome.label_tag }}
                        {{ form.sobrenome }}
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      {{ form.nome_tenda.label_tag }}
                      {{ form.nome_tenda }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      {{ form.tx_entrega.label_tag }}
                      {{ form.tx_entrega }}
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.documento.label_tag }}
                        {{ form.documento }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.contato.label_tag }}
                        {{ form.contato }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.data_nascimento.label_tag }}
                        {{ form.data_nascimento }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.cep.label_tag }}
                        {{ form.cep }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.endereco.label_tag }}
                        {{ form.endereco }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.numero.label_tag }}
                        {{ form.numero }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.bairro.label_tag }}
                        {{ form.bairro }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.cidade.label_tag }}
                        {{ form.cidade }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.estado.label_tag }}
                        {{ form.estado }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.imagem_perfil.label_tag }}
                        {{ form.imagem_perfil }}
                    </div>
                </div>
                <div class="col-md-12 text-end">
                    <button type="submit" class="btn bg-gradient-info m-0">Atualizar Cadastro</button>
                </div>
              </div>
            </form>      
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/mask_bemdocampo.js' %}"></script>
<script>
  $(document).ready(function() {
    mask_document('#document-input');
    mask_contato('#tel-input');
    mask_date('#date-input');
    mask_cep('#cep-input');
    mask_money('#money-input');
    busca_cep('#cep-input');
  });
</script>
{% endblock %}