<!-- templates/core/adicionar_alimento.html -->
{% extends "layouts/default.html" %}
{% load static %}


{% block title %}Adicionar Produto{% endblock %}
{% block body %}
<div class="container">
    <h1>Adicionar Produto</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
       
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
        </div>
        <div>
            <label for="tipo">Tipo:</label>
            <input type="text" id="tipo" name="tipo" required>
        </div>
        <div>
            <label for="quantidade">Quantidade:</label>
            <input type="number" id="quantidade" name="quantidade" required>
        </div>
        <div>
            <label for="unidade">Unidade:</label>
            <input type="text" id="unidade" name="unidade" required>
        </div>
        <div>
            <label for="descricao">Descrição:</label>
            <textarea id="descricao" name="descricao"></textarea>
        </div>
        <div>
            <label for="produtor_id">ID do Produtor:</label>
            <input type="text" id="produtor_id" name="produtor_id" required>
        </div>
        
        <div>
            <label for="imagem_capa">Imagem Capa:</label>
            <input type="text" id="imagem_capa" name="imagem_capa">
        </div>
        <div>
            <label for="imagens">Imagens:</label>
            <input type="file" id="imagens" name="imagens" multiple>
        </div>
        
        <button type="submit">Adicionar Produto</button>
    </form>
    
</div>
{% endblock %}


