<!-- templates/core/adicionar_alimento.html -->

{% load static %}


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Alimento</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Adicionar Alimento</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="alimento_id">ID do Alimento:</label>
                <input type="text" id="alimento_id" name="alimento_id" required>
            </div>
            <div>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required>
            </div>
            <div>
                <label for="tipo">Tipo:</label>
                <input type="text" id="tipo" name="tipo" required>
            </div>
            <div>
                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" name="quantidade" required>
            </div>
            <div>
                <label for="unidade">Unidade:</label>
                <input type="text" id="unidade" name="unidade" required>
            </div>
            <div>
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao"></textarea>
            </div>
            <div>
                <label for="produtor_id">ID do Produtor:</label>
                <input type="text" id="produtor_id" name="produtor_id" required>
            </div>
            <div>
                <label for="cidade">Cidade:</label>
                <input type="text" id="cidade" name="cidade" required>
            </div>
            <div>
                <label for="estado">Estado:</label>
                <input type="text" id="estado" name="estado" required>
            </div>
            <div>
                <label for="imagem_capa">Imagem Capa:</label>
                <input type="text" id="imagem_capa" name="imagem_capa">
            </div>
            <div>
                <label for="imagens">Imagens:</label>
                <input type="file" id="imagens" name="imagens" multiple>
            </div>
            <div>
                <label for="data_cadastro">Data de Cadastro:</label>
                <input type="date" id="data_cadastro" name="data_cadastro" required>
            </div>
            <button type="submit">Adicionar Alimento</button>
        </form>
        <a href="{% url 'adicionar_alimento' %}">Voltar para a lista de alimentos</a>
    </div>
</body>
</html>
