asgiref==3.8.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==43.0.3
dataclasses==0.6
Django==5.1.2
django-allauth==65.1.0
dnspython==2.7.0
fontawesomefree==6.6.0
idna==3.10
mongoengine==0.29.1
mysqlclient==2.2.5
pycparser==2.22
PyJWT==2.9.0
pymongo==4.10.1
python-dotenv==1.0.1
requests==2.32.3
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.3
